
body{
    background-color: blue
}

p,a{
    text-align: left;
}


.loin{
    background-color: white;
    width: 25%;
    text-align: center;
    padding: 10px 20px 10px;

    border-radius: 10px;
    margin: 100px auto 100px;
}
input{
width: 100%
}
button{

}
@media screen and (max-width: 1281px){
   .loin {
       width: 50%;
       font-size:1.5rem
       
    }
}
